.menu{
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: rgb(200, 211, 106);
    border-bottom: 1px solid rgb(158, 51, 51);
    border-top:1px solid rgb(158, 51, 51) ;
}
.menu li{
    display: inline-block;
}
.menu li a{
    padding: 10px 67px;
    display: inline-block;
    color: rgb(74, 95, 83);;
}
.menu li a:hover{
    background-color: rgb(170, 116, 40);
    color: rgb(194, 176, 94);
}
#caja{
    width: 1000px;
    margin: 0px auto;
    border:8px double rgb(170, 138, 97);
   
}